Practica2/.classpath
Practica2/.project
Practica2/.settings/org.eclipse.jdt.core.prefs
/Practica2/Practica2/nbproject/private/
/Practica2/Practica2/build/
Proyecto_Unidad_2/.classpath
Proyecto_Unidad_2/.project
Proyecto_Unidad_2/.settings/org.eclipse.jdt.core.prefs
Proyecto_Unidad_2/archivo.pdf
Proyecto_Unidad_2/copia.pdf
